{
  "REPLACE_NODE_1_HTTPS_URL": "REPLACE_NODE_1_PRIVATE_TOKEN",
  "REPLACE_NODE_2_HTTPS_URL": "REPLACE_NODE_2_PRIVATE_TOKEN",
  "REPLACE_NODE_3_HTTPS_URL": "REPLACE_NODE_3_PRIVATE_TOKEN",
  "REPLACE_NODE_4_HTTPS_URL": "REPLACE_NODE_4_PRIVATE_TOKEN"
}
